@charset "utf-8";

.board-notice	{ width: 264px; padding: 10px; margin: 0 auto; text-align: center; box-sizing: border-box; }


.avocado-list	{
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}
.write_category{
    margin-top:10px;
}

.write_category .name_tag{
    margin-right:10px;
    display:inline-block;
}
.avocado-list li	{
	display: block;
	position: relative;
	margin: 1px 0;
	padding: 0;
}
.avocado-list li.bo_notice	{  }
.avocado-list li.no-data	{ 
	text-align: center;
	line-height: 200px;
}

.avocado-list li a	{
	display: block;
	position: relative;
	padding: 0px 200px 0px 100px;
	line-height: 40px;
}
.avocado-list li strong	{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.avocado-list li strong .cnt_cmt:before	{ content: "( "; }
.avocado-list li strong .cnt_cmt:after	{ content: " )"; }

.avocado-list li .ico-cate	{
	display: block;
	position: absolute;
	top: 0; 
	left: 0;
	width: 100px;
	text-align: center;
	font-style: normal; 

}
.avocado-list li .name	{
	display: block;
	position: absolute;
	top: 0;
	right: 100px;
	width: 100px;
	text-align: center;
	opacity: .6;
	font-size: 11px;
}
.avocado-list li .date	{
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	width: 100px;
	text-align: center;
	opacity: .6;
	font-size: 11px;
}
.avocado-list li .hit	{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	text-align: center;
	opacity: .6;
	font-size: 13px;
}
.txt-right {
    margin-top:10px;
}






.board-category	{
	display: block;
	position: relative;
	padding-bottom: 10px; 
	
}
.board-category select	{

}

@media all and (max-width: 640px) {
	.board-category	{
		display: block;
		width: 100%;
		box-sizing: border-box;
		padding: 0 10px;
	}
	.board-category select	{
		width: 100%;
	}

	.bo_fx	{
		display: block;
		width: 100%;
		box-sizing: border-box;
		padding: 20px 10px !important;
	}
	.bo_fx a	{
		display: block;
		width: 100%;
	}
}



.board-write	{  padding: 0 10px; }

.board-write h3	{
	font-size: 26px;
	text-align: center;
	padding: 30px 0 20px;
}
.board-write .wr_subject input	{ width: 100%; font-size:20px; height:40px;}
.board-write .write-notice	{
	padding: 20px 10px 10px;
	font-size: 13px;
}

.board-write .files	{ padding-top: 20px; }
.board-write .files input	{ width: 100%; }

.board-viewer .title	{
	margin-top:30px;
    margin-bottom: 15px;
}


.board-viewer	{
	display: block;
	position: relative;
	padding: 0 10px;
}

.board-viewer .subject	{
	text-align: center;
    margin : 5px;
}
.board-viewer .subject em	{
	display: block;
	position: relative;
	font-size: 17px;
	line-height: 1.2em;
	padding-bottom: 10px;
}
.board-viewer .subject strong	{
	display: block;
	position: relative;
	font-size: 35px;
	line-height: 1.2em;
    font-family: 'Cafe24Dangdanghae';
}


.board-viewer .category	{
	text-align: center;
    display: block;
    margin-top:10px;
}

.board-viewer .category strong	{
	display: block;
	position: relative;
	font-size: 15px;
	line-height: 1.2em;
    font-family: 'Cafe24Dangdanghae';
}



.board-viewer .info	{
	margin-top: 20px;
	padding: 5px;
	text-align: center;
	font-family: 'S-CoreDream-3Light';
}
.board-viewer .info span	{ display: inline-block; opacity: .8; }
.board-viewer .info span + span:before	{
	content: "";
	display: inline-block;
	width: 1px;
	height: 8px;
	vertical-align: middle;
	margin: 0 10px;
}

.board-viewer .player{
	margin-top: 5px;
	font-size:12px;
}

.board-viewer .info.player span	{ display: block; margin-top:5px;}
.board-viewer .session	{
	margin-top: 5px;
	font-size:14px;
}

.board-viewer .info.player span + span:before	{

	display: none;
}


.board-viewer .contents	{
	/* display: inline-block; */
	position: relative; 
	padding: 40px 15px;
	border-left-width: 0;
	border-right-width: 0;
    font-size:11pt;
    font-family:'NanumBarunGothic';
} 





#bo_v_bot	{ padding: 20px 0 10px; overflow: hidden; }
.bo_v_nb	{ float: left; }
.bo_v_com	{ float: right; }


.board-comment-list			{ position: relative; }
.board-comment-list .co-line	{
	display: block;
	position: relative;
	clear: both;
	width: 100%;
	height: 1px;
	margin: 0;
	padding: 0;
	border: none;
}
.board-comment-list .item	{
	position: relative;
	padding: 10px 10px 10px 100px;
}
.board-comment-list .co-name	{
	position: absolute;
	top: 0px;
	left: 0;
	bottom: 0;
	width: 90px;
	padding: 10px 10px;
	box-sizing: border-box;
}
.board-comment-list .co-info {
	display: block;
	text-align: right;
	padding-top: 10px;
	font-size: 11px;
	opacity: .7;
}
.board-comment-list .co-info span	{ display: inline-block; opacity: .8; }
.board-comment-list .co-info span + span:before	{
	content: "";
	display: inline-block;
	width: 1px;
	height: 8px;
	vertical-align: middle;
	margin: 0 10px;
}

.board-comment-list .item.reply	{ border-left: 5px solid rgba(255, 255, 255, .1); }
.board-comment-list .item.reply .co-name	{
	background: none;
}


.board-comment-list + .board-comment-write	{
	margin-top: 20px;
}

.board-comment-form	{ 
	position: relative;
	padding-right: 80px;
}
.board-comment-form .btn_confirm	{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 29px;
}
.board-comment-form .btn_confirm .ui-btn	{
	width: 100%;
	height: 100%;
}
.board-comment-form p	{
	margin: 0;
	padding: 5px 10px;
}
.board-comment-form textarea	{ display: block;  resize: none;  }


@media all and (max-width: 640px) {

	.avocado-list li a	{
		line-height: 1.2em;
		padding: 15px 15px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.avocado-list li .ico-cate,
	.avocado-list li .name,
	.avocado-list li .date,
	.avocado-list li .hit	{
		position: relative;
		width: auto;
		left: auto;
		right: auto;
		bottom: auto;
		line-height: 1.2em;
	}

	.avocado-list li .info	{
		display: block;
		text-align: right;
		line-height: 1.0em;
		padding-top: 10px;
	}

	.avocado-list li .ico-cate	{ display: inline;  
	}
	.avocado-list li .ico-cate:before	{ content: "[ "; }
	.avocado-list li .ico-cate:after	{ content: " ]"; }

	.avocado-list li strong	{ display: inline; line-height: 1.2em; }

	.avocado-list li .name,
	.avocado-list li .date,
	.avocado-list li .hit	{ display: inline; padding: 0 5px; }

	.board-comment-list .item	{ padding: 0; }
	.board-comment-list .co-name	{ position: relative; width: auto; padding: 5px 10px; }
	.board-comment-list .co-content	{ padding: 10px; }

}

/*roll20*/
.message .avatar{
	position: absolute;
    top: 4px;
    left: 5px;
	}
.avatar img{
	width:100% !important;
	}

	.message{
		font-family:'Chosunilbo_myungjo' !important;
		position: relative;
		}
.sheet-rolltemplate-coc-1{
	width: 100%;
    position: relative;
}
.__se_tbl_ext{
	width: 100% !important;
}

.sheet-template_label{
	width: 25% !important;	
}
.formula, .rolled {
	display: inline;
    color: #0d0d0d !important;
    word-wrap: break-word;
    border: none !important;
}
.dicegrouping{
float: left;
}

.message img {
    display:inline-block;

}
.message .spacer {
    background: transparent !important;
	}
.dicon{
	display:inline-block !important;
	}
.diceroll{
	display: inline-block;
	}
span.by{
	margin-right:5px;
}



/*리스트*/
  
  .trpg-image{
	border-radius: 8px;
	max-width:450px; 
	min-height:230px; 
	background-position:center; 
	background-size:cover; 
    filter: saturate(60%);
  }
  .trpg-mobile{
    
	  display:none;
  }
  .trpg-mobile img{
      width:100%;
    border-radius: 8px 8px 0 0;
    filter: saturate(60%);

  }
  .trpg-card {
	width: 100%;
	max-width: 800px;
	height: 100%;
	display: block;
	margin: 5vh auto;
	border-radius: 8px;
	box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
	position: relative;
  }

  .trpg-card:hover {
	box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.30);
    transform: scale(1.01);
	position: relative;
  }

  @media screen and (min-width: 601px) {
	.trpg-card {
	  width: 95%;
	}
  }
  @media screen and (max-width: 600px) {
      .trpg-button{
          display:none;
      }
	.trpg-image{
		max-width:600px; 
		background-position: top;
		display:none;
		
	}
	.trpg-card {
	  background-position: 50% 0%;
	  background-size: cover;
	}

	.trpg-mobile{
        
		display:block;
	}
    .trpg-overlay {
        max-height: 30px;
background:none;    
    }


  }

  .trpg-overlay {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-blend-mode: multiply;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
  }


  .trpg-content {
	width: 100%;
    max-height: 200px;
	max-width: 600px;

	position: relative;
	float: right;
	margin-right: 1.2em;
	margin-bottom:1.2em;
    margin-top:1.2em;
    overflow: hidden;
 
}


.trpg-button {
    border-radius: 10px;
    font-family: 'S-CoreDream-3Light';
    margin:1.2em;
    padding:0.5em 0.7em;
    font-size:1.1em;
	position: absolute;
    right:0;
    bottom:0;
    overflow: hidden;
    
}


.trpg-content-mobile{
    padding: 1.2em;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
}

  @media screen and (min-width: 601px) {
	.trpg-content {
	  width: 40%;
	}
    .trpg-content-mobile{
        display: none;
    }
  }
  @media screen and (max-width: 600px) {
	.trpg-content {
        display:none;
	}
    .trpg-content-mobile{
        position: inherit;
        display: block;
    }
  }

  .trpg-card__category{
    line-height: 120%;
    font-family: 'Cafe24Dangdanghae';
    letter-spacing: 2px;
    opacity:0.7;
    margin-bottom:0.3em;
  }
  .trpg-card__title {
    line-height: 120%;
    font-family: 'Cafe24Dangdanghae';
    font-size:2.5em;
	margin-bottom: 0.3em;
  }
  .trpg-card__info{
    font-family: 'S-CoreDream-3Light';
  }
  .trpg-card__list{
    margin-bottom: 0.5em;
  }
  .trpg-card__desc {
	font-weight: 300;
	opacity: 0.84;
	margin-bottom: 2em;
  }
  

  .trpg-card__icon {
    color: #ffffff;
    mix-blend-mode:  lighten;
    opacity: 0.7;
    background: none;
    padding: 0;
    display: inline-block;
    margin-right: 0.5em;
  }
  .trpg-card__icon:hover {
    opacity: 1;
    mix-blend-mode: lighten;
  }
  .trpg-card__icon i {
    font-size: 1.5em;
  }


  .trpg-card__share {
    display: block;
    width: 100%;
	padding: 1em;
	display: inline-block;

	max-width: 130px;
  }

